body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #5CAF50, #2196F3);
    transition: background 0.3s;
}

.container {
    text-align: center;
}

.weather-card {
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    width: 450px;
}

.weather-card:hover {
    padding: 15px;
    margin: 10px 0;
    width: 70%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.button-group button {
    margin: 5px;
}

#city-input:focus {
    outline: none;
    border-color: #2196F3;
}

#city-input::placeholder {
    color: #aaa;
}

#city-input-btn,
button {
    padding: 10px;
    background-color: #2106F3;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}

button:hover {
    background-color: #1565C0;
}

#weather-info {
    display: none;
    margin-top: 20px;
}

#forecast-container {
    display: none;
    margin-top: 20px;
}

#forecast {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#forecast div {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    background: #f0f0f0;
    min-width: 100px;
}

#weather-icon {
    width: 100px;
    height: 100px;
}

#temperature {
    font-size: 24px;
    font-weight: bold;
    margin: 8px 0;
}

#description {
    font-size: 18px;
    margin-bottom: 10px;
}

#wind-speed {
    font-size: 16px;
    color: rgb(255, 0, 0);
}

#date {
    font-size: 14px;
    color: rgb(255, 0, 0);
}

/* Dark Mode Styles */
body.dark-mode {
    background: linear-gradient(to right, #1e1e1e, #3a3a3a);
    color: #f0f0f0;
}

body.dark-mode .weather-card {
    background-color: rgba(30, 30, 30, 0.9);
    color: #f0f0f0;
}

body.dark-mode #forecast-container div {
    background-color: #333;
    color: #fff;
}